<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Module1">
  <test name="Test">
    <classes>
      <!-- <class name="com.atmecs.xls.XlsReading.module.TestScript1"/> -->
       <class name="com.atmecs.xls.XlsReading.MultiTouch.MultiTouch"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
